@{ 

    ViewBag.Title = "Library Management System";
    Layout = null;
}

<html ng-app="libraryApp">
<head>

    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/library/style")
    @Scripts.Render("~/bundles/library/script")

</head>
<body class="container">
    <h2>LMS</h2>
    <br />
    <div ng-view>
    </div>
</body>
</html>
